h1 {
  color: #4a235a;
}

h2 {
  color: #6c3483;
}

h3 {
  color: #8e44ad;
}

a {
  color: #3498db;
}

.inverse {
  background: #272822;
  color: #777872;
}

.inverse h1, .inverse h2 {
  color: #a3e4d7;
  line-height: 0.8em;
}

.background h1 {
  color: #e8daef;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
  .left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
  }
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

/* some special classes */
.title {
    font-size: 3.3em;
    color: #606060;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.subtitle {
    font-size: 1.4em;
}
.author {
    font-size: 1.4em;
    color: #606060;
    font-weight: bold;
    letter-spacing: 0.02em;
}
.coauthor {
    font-size: 1.0em;
    color: #606060;
    font-weight: bold;
    letter-spacing: 0.02em;
}
.institution {
    font-size: 1.0em;
}
.date {
    font-size: 1.0em;
    font-style: italic;
}
.cite {
    font-size: 0.8em;
    color: #33AA99;
    font-style: italic;
}
.strike {
    color: salmon;
    text-decoration: line-through;
}
.footnote-cite {
    position: absolute;
    bottom: 3em;
    color: #7f7f7f;
    font-size: 0.8em;
}

/* images overlay */
.imageWrapper {
    position: relative;
}
.overlayImage {
    position: absolute;
    top: 0;
    left: 0;
}

/* two-column layout with different splits */
.column:first-of-type {
    float: left;
}
.column:last-of-type {
    float: right;
}
.split-30-70 .column:first-of-type {
    width: 30%;
}
.split-30-70 .column:last-of-type {
    width: 70%;
}
.split-40-60 .column:first-of-type {
    width: 40%;
}
.split-40-60 .column:last-of-type {
    width: 60%;
}
.split-50-50 .column:first-of-type {
    width: 50%;
}
.split-50-50 .column:last-of-type {
    width: 50%;
}
.split-60-40 .column:first-of-type {
    width: 60%;
}
_split-60-40 .column:last-of-type {
    width: 40%;
}
.split-70-30 .column:first-of-type {
    width: 70%;
}
.split-70-30 .column:last-of-type {
    width: 30%;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
